@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Angkor", sans-serif;
    box-sizing: border-box;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(228,134,238);
    background: linear-gradient(0deg, rgba(228,134,238,1) 0%, rgba(82,0,255,1) 99%);
}

#quiz_container{
    height: 70vh;
    width: 45%;
    background-color: #000E56;
    border-radius: 25px;
}

#quiz_container_head{
    background-color: #120084;
    width: 100%;
    height: 100px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


#content{
    margin-top: 7% !important;
    align-items: center;
    display: flex !important; 
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;

}

#content h5{
    color: #05FF00;
    font-size: 20px;
    font-weight: 200;
    font-family: "Montserrat";
    margin: 20px 0px;
}

#content h2{
    color: #fff;
    font-weight: 400;
    font-family: "Angkor";
    display: block;
}

#play{
    margin-top: 16px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;

}

#username{
    background: #5200FF;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    width: 55%;
    padding: 15px 0px;
    outline: none;
    border: 5px solid #5200FF;
    border-radius: 5px;

}

#username::placeholder{
    color: #fff;
}

#arrow{
    width: 100%;
    height: 100px;
}

#arrow img{
    width: 80px;
}

/* Quizs */

#quizs{
    display: none;
}

/* Results */

#quiz_result{
    display: none;
}

#quiz_result h2{
    color: #05FF00;
    font-weight: 200;
    font-family: "Montserrat";
}